In [7]:
import pandas as pd
import os
import re

In [15]:
centers = pd.read_csv('https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/csv_files/location_key.csv')

In [16]:
centers['center_visuals_path'] = ''

In [17]:

for i in range(len(centers)): 
    path = re.sub(' ', "_", str(centers.at[i, 'name']))
    path = re.sub('\.', '', path)
    path = re.sub(',', '', path).lower()
    centers.at[i, 'center_visuals_path'] = path

In [18]:
centers

,scan_center,lat,long,name,center_visuals_path
0,cebu,10.31803327,123.9205454,"Innodata Knowledge Services, Inc.",innodata_knowledge_services_inc
1,hongkong,22.31836625,114.181248,Hong Kong,hong_kong
2,alberta,53.52319337,-113.5271984,University of Alberta,university_of_alberta
3,sfdowntown,37.78244229,-122.4717902,Internet Archive Headquarters,internet_archive_headquarters
4,shenzhen,113.9856083,"22.598147246440938,",Datum Data Co. Ltd.,datum_data_co_ltd
...,...,...,...,...,...
105,AP Press Academy Archives,16.50612678,80.64675882,Press Academy of Andhra Pradesh,press_academy_of_andhra_pradesh
106,hamilton,43.26097698,-79.8703973,Hamilton Public Library,hamilton_public_library
107,tt_nybg,40.86181013,-73.8809266,New York Botanical Garden,new_york_botanical_garden
108,mobot,38.6170646,-90.26278742,Missouri Botanical Garden,missouri_botanical_garden
109,bali,-8.685606156,115.2297763,Perpustakaan Provinsi Bali,perpustakaan_provinsi_bali

In [24]:
centers['data_repo_link'] = 'https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/center_visuals/'

In [25]:
for i in range(len(centers)): 
    centers.at[i, 'object_location'] = centers.at[i, 'data_repo_link']  + centers.at[i, 'center_visuals_path'] + '/'

In [27]:
centers.to_csv('/Users/e.schwartz/Documents/GitHub/ia_scanning_labor_data/csv_files/cb-metadata.csv')