# Manifest Builder
In this notebook we're cross walking our current data structures to the [manifest](https://github.com/hock/Manifest/wiki) supply chain data format.

Plan to manually combine scanning centers with more than 1 scanning center id prior to brining into this notebook for real. 

## Manifest Fields

The Manifest [google sheets template](https://docs.google.com/spreadsheets/d/17P3kAShGgpSUV0P8f38zAlWYvF_Vxf8OldY6yriTfns/edit?usp=sharing ) has the following fields: 
- index: integer
- Name: the name of the node (in our case the scanning center name)
- description: a markdown description of the location. Can include links and such.
- Category: types of locations. there can be more than one category per item. Given as # and separated by a comma, i.e., "#scanningcenter,#academiclibrary"
- Images: a url leading to an image. If we wanted to include images of the scanning centers, we could do so using this.
- Location: text description of the location, i.e., Allen County, IN
- Geocode: the latitude and longitudinal coordinates of the location separated by a comma, i.e., "40.72401342,-74.0064435"
- DestinationIndex: the index of any locations that the location should be connected to. For example, the destination index for the physical archive would include Datum Data, IA Hong Kong, and Innodata
- Measure: any measure associated with the value including starttime and endtime. All measures consist of 3 values nested in parantheses (measure_name,measure_value,measure_unit). Measures are separated from each other by comma. For example, "(books_scanned,3800,books),(pages_scanned,252988,pages),(median_turnover,1127.0,days),(days_operated,2267.0,days),(starttime,1445467744,utc)"
  - starttime: when the location becomes relevant to the supply chain given in UTC time, i.e., (starttime,1445467744,utc)
  - endtime: when the location stops being relevant to the supply chain given in UTC time, i.e., (endtime,1445467744,utc)
- Sources: any sources affiliated with the supply chain. In our case, we may include the actual links to texts scanned at that location in IA.
- AdditionalNotes: I don't think these appear on manifest. it would be a good place to include all the values in the "scanningcenter" field that map to that scanning center. For example, UIUC could have this entry in AdditionalNotes: "scanningcenter values affiliated with this center include: "il" and "ill"

In [26]:
import pandas as pd

In [46]:
location_key = pd.read_csv("https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/access-ia-metadata-records/data/location_key.csv")
location_key

,scan_center,lat,long,name
0,cebu,10.31803327,123.9205454,"Innodata Knowledge Services, Inc."
1,hongkong,22.31836625,114.181248,Hong Kong
2,alberta,53.52319337,-113.5271984,University of Alberta
3,sfdowntown,37.78244229,-122.4717902,Internet Archive Headquarters
4,shenzhen,113.9856083,"22.598147246440938,",Datum Data Co. Ltd.
...,...,...,...,...
105,AP Press Academy Archives,16.50612678,80.64675882,Press Academy of Andhra Pradesh
106,hamilton,43.26097698,-79.8703973,Hamilton Public Library
107,tt_nybg,40.86181013,-73.8809266,New York Botanical Garden
108,mobot,38.6170646,-90.26278742,Missouri Botanical Garden
109,bali,-8.685606156,115.2297763,Perpustakaan Provinsi Bali

In [48]:
center_names = location_key['name'].drop_duplicates().tolist()

In [49]:
# # it makes more sense to just combine the dataframe before cross walking to the manifest format
# center_names = []
# centers = pd.DataFrame(columns = ['name', 'lat', 'long', 'scanningcenter_ids'])

# for i in range(len(location_key)):
#     if location_key.at[i, 'name'] in center_names:
#         pass
#         # need to append the scanning center id here somehow ... i think this needs to be a dataframe ugh 
#     else: 
#         center_names.append(location_key.at[i, 'name'])
#         this_center_data =  pd.DataFrame.from_dict({
#                 'name': location_key.at[i, 'name'],
#                 'lat': location_key.at[i, 'lat'],
#                 'long': location_key.at[i, 'long'],
#                 'scanningcenter_ids': str(location_key.at[i, 'scan_center']) + '||'
#             })
#         print(this_center_data)
#         # centers = pd.concat([centers, this_center_data], ignore_index=True)
#  #        centers.concat(
#  #            {
#  #                'name': location_key.at[i, 'name'],
#  #                'lat': location_key.at[i, 'lat'],
#  #                'long': location_key.at[i, 'long'],
#  #                'scanningcenter_ids': str(location_key.at[i, 'scan_center']) + '||'
#  #            }
#  #        )



#  # pd.concat([new_record, df], ignore_index=True)

In [51]:
center_names

['Innodata Knowledge Services, Inc.',
 'Hong Kong',
 'University of Alberta',
 'Internet Archive Headquarters',
 'Datum Data Co. Ltd.',
 'University of Toronto',
 'Allen County Public Library Geneaology Center',
 'British Library',
 'UCLA',
 'Princeton University',
 'Boston Public Library',
 'National Agricultural Library',
 'Library of Congress',
 'Columbia University',
 'UNC Chapel Hill',
 'Internt Archive Physical Archive',
 'UIUC',
 'National Library of Scotland',
 'San Francisco Public Library',
 'University of Maryland, College Park',
 'North Carolina State University',
 'BYU, Provo',
 'Smithsonian Libraries and Archives',
 'Georgetown University',
 'Internet Archive Sheridan Headquarters',
 'Duke University',
 'Brown University',
 'Natural History Museum Library, London',
 'The Archive of Contemporary Music',
 'BYU, Hawaii',
 'BYU, Idaho Family History Library',
 'Getty Research Institute Valencia Warehouse',
 'University of Florida',
 'The Ohio State University',
 'American Numismatic Society',
 'Getty Research Institute',
 'Harvard',
 'University of Pretoria',
 'The Servants of Knowledge',
 'Regional Mega Scanning Center by IIT, Hyderbad',
 'California State Library',
 'University of Chinese Academy of Sciences',
 'Servants of knowledge',
 'International Institute of Information Technology Hyderabad',
 'Trent University',
 'Universidad Francisco Marroquín',
 'Analysis and Policy Observatory (APO)',
 'BookScanUS',
 'American Museum of Natural History',
 'State Library of Pennsylvania',
 'Yiddish Book Center',
 'Stanford University',
 'Peabody Essex Museum',
 'California Acaddemy of Sciences',
 'Centre for Strategic and International Studies, Jakarta',
 'Zhejiang University',
 'Clemson University',
 'Osmania University',
 nan,
 'Kahle/Austin Foundation',
 'John Hopkins University Library Offsite Storage',
 'University of Victoria',
 'Hopewell Junction',
 'University of Warwick',
 'Research Institute of Korean Studies',
 '1 Dollar Scan',
 'Washington University in St. Louis',
 'Church History Library',
 'American Printing House for the Blind',
 'Oberlin College Libraries',
 'Clatsop County Historical Society',
 'Staten Island Museum',
 'Family Search Library',
 'University of Connecticut',
 'Perkins School for the Blind',
 'Press Academy of Andhra Pradesh',
 'Hamilton Public Library',
 'New York Botanical Garden',
 'Missouri Botanical Garden',
 'Perpustakaan Provinsi Bali']

In [52]:

    # subsetting the location dataframe for only entries with the same entry in the same field (same center)
    locs = location_key[location_key["name"] == manifest_data[i]['Name']].reset_index()
    # assuming that every center that shares the same name is the same center and should have the same geographic coordinates 
    manifest_data[i]['Geocode'] = str(locs.at[0, 'lat']) + ',' +  str(locs.at[0, 'long'])
    
    print(manifest_data[i]['Geocode'])

10.31803327,123.9205454

In [53]:
manifest_data = []
for i in range(len(center_names)): 
    manifest_data.append(
        {'Index': i,
         'Name': center_names[i], 
         'Description': '',
         'Category': '',
         'Images': '',
         'Location':'',
         'Geocode':'',
         'DestinationIndex': '',
         'Measure':'',
         'Sources':'',
         'AdditionalNotes':''
        }
    )

In [58]:
for i in range(len(manifest_data)):
    # subsetting the location dataframe for only entries with the same entry in the same field (same center)
    locs = location_key[location_key["name"] == manifest_data[i]['Name']].reset_index()
    print(locs)
    try:
        # assuming that every center that shares the same name is the same center and should have the same geographic coordinates 
        manifest_data[i]['Geocode'] = str(locs.at[0, 'lat']) + ',' +  str(locs.at[0, 'long'])
        # print(manifest_data[i]['Geocode'])
    except KeyError:
        pass
    except ValueError:
        pass

   index scan_center          lat         long  \
0      0        cebu  10.31803327  123.9205454

                                name
0  Innodata Knowledge Services, Inc.
   index scan_center          lat        long       name
0      1    hongkong  22.31836625  114.181248  Hong Kong
1     76   Hong Kong  22.31836625  114.181248  Hong Kong
   index scan_center          lat          long                   name
0      2     alberta  53.52319337  -113.5271984  University of Alberta
1     88     alberta  53.52319337  -113.5271984  University of Alberta
   index      scan_center          lat          long  \
0      3       sfdowntown  37.78244229  -122.4717902
1      5     sanfrancisco  37.78244229  -122.4717902
2     58             arch  37.80039616  -122.4603638
3     69  tt_sanfrancisco  37.78244229  -122.4717902

                            name
0  Internet Archive Headquarters
1  Internet Archive Headquarters
2  Internet Archive Headquarters
3  Internet Archive Headquarters
   index scan_center          lat                 long                 name
0      4    shenzhen  113.9856083  22.598147246440938,  Datum Data Co. Ltd.
1     21       china    34.891329          102.4324526  Datum Data Co. Ltd.
   index scan_center          lat         long                   name
0      6        uoft  43.66312452  -79.3955813  University of Toronto
1     48        UofT  43.66312452  -79.3955813  University of Toronto
   index scan_center          lat          long  \
0      7     indiana  41.07773159  -85.14224798

                                            name
0  Allen County Public Library Geneaology Center
   index scan_center        lat      long             name
0      8      euston  51.528702  -0.12761  British Library
   index  scan_center                                   lat          long  \
0      9           la  34.071863589276, -118.45416814232854  -118.2538418
1     22         iala  34.071863589276, -118.45416814232854  -118.2538418
2     23  santamonica  34.071863589276, -118.45416814232854  -118.2538418

   name
0  UCLA
1  UCLA
2  UCLA
   index scan_center                  lat          long                  name
0     10          nj          40.34604013  -74.66685643  Princeton University
1     52      tt_pts  40.345616069264594,  -74.66150508  Princeton University
   index          scan_center          lat          long  \
0     11               boston  42.34936189  -71.07819992
1     67               Boston  42.34936189  -71.07819992
2     70  tt_bostonuniversity  42.34936189  -71.07819992

                    name
0  Boston Public Library
1  Boston Public Library
2  Boston Public Library
   index scan_center          lat         long                           name
0     12  beltsville  39.02352526  -76.9216014  National Agricultural Library
   index  scan_center         lat         long                 name
0     13  capitolhill  38.8895692  -77.0045688  Library of Congress
   index scan_center          lat          long                 name
0     14         nyc  40.80657713  -73.96320572  Columbia University
   index scan_center          lat          long             name
0     15  chapelhill  35.91177641  -79.04727727  UNC Chapel Hill
   index  scan_center          lat          long  \
0     16         rich  37.92950359  -122.3459874
1     37     richmond  37.92950359  -122.3459874
2     40  richflorida  37.92950359  -122.3459874

                               name
0  Internt Archive Physical Archive
1  Internt Archive Physical Archive
2  Internt Archive Physical Archive
   index scan_center          lat          long  name
0     17         ill  40.10440926  -88.22933583  UIUC
1     18          il  40.10440926  -88.22933583  UIUC
   index scan_center          lat          long                          name
0     19   edinburgh  55.94870434  -3.191972202  National Library of Scotland
   index    scan_center          lat          long  \
0     20  sfciviccenter  37.77914204  -122.4157906

                           name
0  San Francisco Public Library
   index scan_center                                    lat        long  \
0     24    maryland  38.98690162117241, -76.94130975499546  -77.173238

                                   name
0  University of Maryland, College Park
   index scan_center          lat          long  \
0     25     raleigh  35.78748428  -78.66939426

                              name
0  North Carolina State University
   index scan_center                                     lat        long  \
0     26       provo  40.24888001047114, -111.64850939879179  -111.66089
1     98    brussels  40.24888001047114, -111.64850939879179  -111.66089

         name
0  BYU, Provo
1  BYU, Provo
   index   scan_center                                     lat          long  \
0     27  washingtondc  38.891327348794235, -77.02586403862762  -76.99963604
1     28   Capitolhill                             38.89126054  -77.02612153

                                 name
0  Smithsonian Libraries and Archives
1  Smithsonian Libraries and Archives
   index    scan_center                                    lat          long  \
0     29  tt_georgetown  38.90659980589519, -77.07223903173019  -77.07212976

                    name
0  Georgetown University
   index scan_center          lat          long  \
0     30    sheridan  37.80039616  -122.4603638
1     68        miss  37.80039616  -122.4603638

                                     name
0  Internet Archive Sheridan Headquarters
1  Internet Archive Sheridan Headquarters
   index scan_center          lat          long             name
0     31      durham  36.00354706  -78.93830223  Duke University
1     38     durham2  36.00354706  -78.93830223  Duke University
2     51      Durham  36.00354706  -78.93830223  Duke University
   index    scan_center          lat          long              name
0     32     providence  41.82598954  -71.40246227  Brown University
1     45  tt_providence  41.82582965  -71.40050963  Brown University
   index scan_center          lat          long  \
0     33      london  51.49684189  -0.176270642
1     87        lond  51.49684189  -0.176270642

                                     name
0  Natural History Museum Library, London
1  Natural History Museum Library, London
   index scan_center          lat          long  \
0     34   manhattan  40.71867548  -74.00374316

                                name
0  The Archive of Contemporary Music
   index scan_center          lat          long         name
0     35    honolulu  21.64181757  -157.9265819  BYU, Hawaii
   index scan_center          lat          long  \
0     36     rexburg  43.81513782  -111.7835769

                                name
0  BYU, Idaho Family History Library
   index scan_center         lat          long  \
0     39    valencia  34.4198712  -118.5622386

                                          name
0  Getty Research Institute Valencia Warehouse
   index  scan_center          lat          long                   name
0     41  gainesville  29.67605506  -82.34584836  University of Florida
   index scan_center          lat          long                       name
0     42      tt_osu  40.00685718  -83.03021857  The Ohio State University
   index    scan_center          lat         long                         name
0     43  tt_numismatic  40.72401342  -74.0064435  American Numismatic Society
   index scan_center          lat          long                      name
0     44    tt_getty  34.07768084  -118.4752916  Getty Research Institute
   index          scan_center          lat          long     name
0     46  tt_harvardernstmayr  42.37690652  -71.11665402  Harvard
1    104    tt_harvardwidener  42.37690652  -71.11665402  Harvard
   index scan_center                  lat        long                    name
0     47    pretoria  -25.75484280055574,  28.2314278  University of Pretoria
   index scan_center          lat         long                       name
0     49      tt_sok  13.01508353  77.58188903  The Servants of Knowledge
   index scan_center          lat         long  \
0     50  RMSC-IIITH  17.45672402  78.34022488
1     92  RMSC_IIITH  17.45672402  78.34022488

                                             name
0  Regional Mega Scanning Center by IIT, Hyderbad
1  Regional Mega Scanning Center by IIT, Hyderbad
   index scan_center          lat          long                      name
0     53  sacramento  38.57603262  -121.4962643  California State Library
   index scan_center          lat         long  \
0     54     beijing  40.40857413  116.6825007

                                        name
0  University of Chinese Academy of Sciences
   index   scan_center          lat         long                   name
0     55  tt_bangalore  13.01508353  77.58188903  Servants of knowledge
   index             scan_center          lat         long  \
0     56          IIIT Hyderabad  17.45672402  78.34022488
1     64             CCLHYDERBAD  17.45672402  78.34022488
2     72            CCLHYDERABAD  17.45672402  78.34022488
3     75  S.V.Digital LibraryTTD  17.45672402  78.34022488
4     82           CCL HYDERABAD  17.45672402  78.34022488

                                                name
0  International Institute of Information Technol...
1  International Institute of Information Technol...
2  International Institute of Information Technol...
3  International Institute of Information Technol...
4  International Institute of Information Technol...
   index scan_center          lat          long              name
0     57       trent  44.35924592  -78.28865505  Trent University
   index scan_center          lat          long  \
0     59   guatemala  14.60594769  -90.50534962

                              name
0  Universidad Francisco Marroquín
   index   scan_center           lat         long  \
0     60  tt_swinburne  -37.82169275  145.0389975

                                    name
0  Analysis and Policy Observatory (APO)
   index scan_center          lat          long        name
0     61  BookScanUS  33.78561232  -84.41203005  BookScanUS
   index scan_center                 lat          long  \
0     62     tt_amnh  40.78192527034579,  -73.97246471

                                 name
0  American Museum of Natural History
   index    scan_center         lat          long  \
0     63     harrisburg  40.2650287  -76.88065236
1     99  tt_harrisburg  40.2650287  -76.88065236

                            name
0  State Library of Pennsylvania
1  State Library of Pennsylvania
   index scan_center          lat          long                 name
0     65     amherst  42.32188825  -72.52766762  Yiddish Book Center
   index     scan_center         lat          long                 name
0     66  tt_stanfordlaw  37.4239279  -122.1674727  Stanford University
   index scan_center          lat          long                  name
0     71      tt_pem  42.71459464  -70.90700382  Peabody Essex Museum
   index    scan_center          lat          long  \
0     73  tt_calacademy  37.77042434  -122.4661162

                              name
0  California Acaddemy of Sciences
   index scan_center           lat         long  \
0     74  tt_jakarta  -6.176488669  106.8174559

                                                name
0  Centre for Strategic and International Studies...
   index scan_center          lat         long                 name
0     77    hangzhou  30.30877701  120.0865531  Zhejiang University
   index scan_center          lat         long                name
0     78     clemson  34.67345992  -82.8367119  Clemson University
   index         scan_center          lat         long                name
0     79  Osmania University  17.41379886  78.52871404  Osmania University
Empty DataFrame
Columns: [index, scan_center, lat, long, name]
Index: []
   index              scan_center          lat          long  \
0     81  Kahle/Austin Foundation  37.79621158  -122.4492636

                      name
0  Kahle/Austin Foundation
   index  scan_center           lat          long  \
0     83  clarksville  -76.90066207  -87.36517104

                                              name
0  John Hopkins University Library Offsite Storage
   index  scan_center          lat          long                    name
0     84  tt_victoria  48.46368117  -123.3096647  University of Victoria
   index   scan_center          lat         long               name
0     85  poughkeepsie  41.58494026  -73.8016634  Hopewell Junction
   index scan_center          lat          long                   name
0     86  tt_warwick  52.38191585  -1.562005427  University of Warwick
   index scan_center          lat         long  \
0     90     tt_riks  37.59104552  127.0281313

                                   name
0  Research Institute of Korean Studies
   index           scan_center          lat          long           name
0     91  1dollarscan (zLibro)  37.37455087  -121.9099017  1 Dollar Scan
   index scan_center          lat          long  \
0     93  tt_stlouis  38.65014738  -90.32838852

                                 name
0  Washington University in St. Louis
   index   scan_center          lat          long                    name
0     94  saltlakecity  40.77200728  -111.8906814  Church History Library
   index    scan_center          lat          long  \
0     95  tt_louisville  38.25759766  -85.71422071

                                    name
0  American Printing House for the Blind
   index scan_center          lat          long                       name
0     96  tt_oberlin  41.29341848  -82.22281366  Oberlin College Libraries
   index       scan_center          lat          long  \
0     97  tt_clatsopcounty  46.18852036  -123.8254003

                                name
0  Clatsop County Historical Society
   index      scan_center          lat          long                  name
0    100  tt_statenisland  40.64492345  -74.10271703  Staten Island Museum
   index scan_center          lat          long                   name
0    101        utah  40.77037084  -111.8945972  Family Search Library
   index scan_center          lat          long                       name
0    102  hbl_storrs  41.80696142  -72.25146626  University of Connecticut
   index scan_center          lat          long                          name
0    103  tt_perkins  42.36138709  -71.17525908  Perkins School for the Blind
   index                scan_center          lat         long  \
0    105  AP Press Academy Archives  16.50612678  80.64675882

                              name
0  Press Academy of Andhra Pradesh
   index scan_center          lat         long                     name
0    106    hamilton  43.26097698  -79.8703973  Hamilton Public Library
   index scan_center          lat         long                       name
0    107     tt_nybg  40.86181013  -73.8809266  New York Botanical Garden
   index scan_center         lat          long                       name
0    108       mobot  38.6170646  -90.26278742  Missouri Botanical Garden
   index scan_center           lat         long                        name
0    109        bali  -8.685606156  115.2297763  Perpustakaan Provinsi Bali

In [60]:
len(manifest_data)

80

In [62]:
manifest_df = pd.DataFrame.from_dict(manifest_data)

In [64]:
manifest_df.to_csv("/Users/elizabethschwartz/Documents/test_manifest.csv")