In [1]:
import pandas as pd

# stats to calculate
- ## outsourcing:
  - percentage of books scanned at BPOs per year - done!
- ## pay
    - calculations on maximum wages workers at cebu could have made based on number of workers there per month and the contract IA had with Innodata at the time (at 1.5million per year / 12 months with x workers working per month, that leaves what max monthly wage).
- ## rates of work:
  - as measure of pages scanned to workers working per center per month
  - avergage pages scanned to workers working per center + standard deviation
- ## turn over rates- how long do operators stay at their jobs across centers
  - avg. days worked by workers at each center + standard deviation - will need to throw out lots of junk

In [2]:
# accessing the geocoded texts dataset from my external hard drive. You can get it from this box link: 
texts = pd.read_csv('/Volumes/Samsung_T5/scanning_labor_in_IA/geocoded-texts-data.csv', low_memory=False)
texts = texts.drop(columns=['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'])

In [129]:
# scans per center per month
scans_center_month = pd.read_csv("https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/metadata-analysis/metadata-records-analysis-csvs/scans_per_center_per_month.csv") 

# pages per center per month
pages_center_month = pd.read_csv("https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/metadata-analysis/metadata-records-analysis-csvs/pages_per_center_per_month.csv")

# scans per center type per month
scans_type_month = pd.read_csv("https://raw.githubusercontent.com/ers6/ia_scanning_labor_data/main/metadata-analysis/metadata-records-analysis-csvs/scans_per_center_type_per_month.csv").dropna(subset=['center_type'])
scans_type_month = scans_type_month[['month_year','center_type', 'books_scanned']]

In [130]:
scans_type_year = scans_type_month.groupby(['center_type','month_year']).sum().reset_index()

In [131]:
scans_type_year['year'] = ""

for i in range(len(scans_type_year)):
    scans_type_year.at[i, 'year'] = str(scans_type_year.at[i,'month_year']).split('-')[0]

In [132]:
scans_type_year = scans_type_year.groupby(['center_type','year']).sum().reset_index()[['center_type', 'year', 'books_scanned']]

In [133]:
scans_type_year

    center_type  year  books_scanned
0      academic  2001              3
1      academic  2002            421
2      academic  2006          37248
3      academic  2007         108590
4      academic  2008         164714
..          ...   ...            ...
118      public  2019          21036
119      public  2020           8342
120      public  2021          16017
121      public  2022          29775
122      public  2023          10074

[123 rows x 3 columns]

In [134]:
scans_per_year = scans_type_year.groupby(['year']).sum().reset_index()[['year','books_scanned']]



scans_per_year.loc[scans_per_year['year']== '2010']['books_scanned'].tolist()[0]

261573

In [135]:
scans_type_year['percent'] = ''

for i in range(len(scans_type_year)):
    scans_type_year.at[i, 'percent'] = scans_type_year.at[i, 'books_scanned'] / scans_per_year.loc[scans_per_year['year'] == scans_type_year.at[i, 'year']]['books_scanned'].tolist()[0]

In [114]:
scans_type_year.to_csv('/Users/elizabethschwartz/Documents/GitHub/ia_scanning_labor_data/metadata-analysis/metadata-records-analysis-csvs/percentage_of_books_scanned_per_center_type_per_year.csv')

In [136]:
scans_type_year

    center_type  year  books_scanned   percent
0      academic  2001              3       1.0
1      academic  2002            421   0.97907
2      academic  2006          37248  0.589554
3      academic  2007         108590  0.683085
4      academic  2008         164714  0.639723
..          ...   ...            ...       ...
118      public  2019          21036  0.043464
119      public  2020           8342  0.010275
120      public  2021          16017  0.016478
121      public  2022          29775  0.027982
122      public  2023          10074  0.025226

[123 rows x 4 columns]

In [151]:
scans_type_year['center_type'].tolist()
this_dict = {'year':"",'academic':"", 'bpo':"", 'government':"", 'hq':"", 'museum':"", 'public':"", 'total_books':""}
year_list = []
for i in range(20): 
    year_list.append(this_dict)

year_list

[{'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''},
 {'year': '',
  'academic': '',
  'bpo': '',
  'government': '',
  'hq': '',
  'museum': '',
  'public': '',
  'total_books': ''}]

In [204]:
def get_center_count(center_type, year): 
    try:
        result = scans_type_year.loc[(scans_type_year['center_type'] == center_type) & (scans_type_year['year'] == year)].reset_index().to_dict()['books_scanned'][0]
    except KeyError: 
        result = 0
    return result


def get_center_percent(center_type, year):
    try:
        result = scans_type_year.loc[(scans_type_year['center_type'] == center_type) & (scans_type_year['year'] == year)].reset_index().to_dict()['percent'][0]
    except KeyError: 
        result = 0
    return result

In [195]:
get_center_count('academic', '1998')

0

In [207]:
yearly_counts = []
for this_year in the_years: 
    yearly_counts.append({'year': this_year,
                         'academic': get_center_count('academic', this_year),
                         'bpo': get_center_count('bpo', this_year), 
                         'government': get_center_count('government', this_year), 
                         'hq': get_center_count('hq', this_year), 
                         'museum': get_center_count('museum', this_year),
                         'public': get_center_count('public', this_year), 
                         'total_books':""})

yearly_percents = []
for this_year in the_years: 
    yearly_percents.append({'year': this_year,
                         'academic': get_center_percent('academic', this_year),
                         'bpo': get_center_percent('bpo', this_year), 
                         'government': get_center_percent('government', this_year), 
                         'hq': get_center_percent('hq', this_year), 
                         'museum': get_center_percent('museum', this_year),
                         'public': get_center_percent('public', this_year)})

In [152]:
the_years = scans_per_year['year'].tolist()

In [147]:
scans_type_year.loc[(scans_type_year['center_type'] == 'academic') & (scans_type_year['year'] == '2012')]

  center_type  year  books_scanned   percent
8    academic  2012          91679  0.250427

In [208]:
yearly_percents

[{'year': '2001',
  'academic': 1.0,
  'bpo': 0,
  'government': 0,
  'hq': 0,
  'museum': 0,
  'public': 0},
 {'year': '2002',
  'academic': 0.9790697674418605,
  'bpo': 0,
  'government': 0.009302325581395349,
  'hq': 0,
  'museum': 0.002325581395348837,
  'public': 0.009302325581395349},
 {'year': '2006',
  'academic': 0.5895536562203229,
  'bpo': 0,
  'government': 0,
  'hq': 0.41043051598607155,
  'museum': 1.5827793605571385e-05,
  'public': 0},
 {'year': '2007',
  'academic': 0.6830848587783859,
  'bpo': 0,
  'government': 0.0025287790149084734,
  'hq': 0.2838019752154495,
  'museum': 0.005655155060703278,
  'public': 0.024929231930552933},
 {'year': '2008',
  'academic': 0.6397231597385398,
  'bpo': 0,
  'government': 0.09772911755224739,
  'hq': 0.12010781545536106,
  'museum': 0.005864601498386263,
  'public': 0.13657530575546553},
 {'year': '2009',
  'academic': 0.5618411019758652,
  'bpo': 4.5584140034478184e-05,
  'government': 0.1774093290014587,
  'hq': 0.0939903527383636,
  'museum': 0.005859634000795651,
  'public': 0.15960665031162977},
 {'year': '2010',
  'academic': 0.5104961138955473,
  'bpo': 0.021844762265218504,
  'government': 0.09799941125421967,
  'hq': 0.22613954804203798,
  'museum': 0.0029972512453502465,
  'public': 0.13931483754057183},
 {'year': '2011',
  'academic': 0.31954279631588856,
  'bpo': 0.42339696365866797,
  'government': 0.09822025482419987,
  'hq': 8.113353281364601e-05,
  'museum': 0.001509083710333816,
  'public': 0.14549189638274257},
 {'year': '2012',
  'academic': 0.2504274905077986,
  'bpo': 0.5156600835860035,
  'government': 0.09585894179027016,
  'hq': 0.0018711245868502282,
  'museum': 0.0007703023846595099,
  'public': 0.10791881777704936},
 {'year': '2013',
  'academic': 0.4514258805419966,
  'bpo': 0.1059232779049278,
  'government': 0.24651125108865168,
  'hq': 0.0003240637595446904,
  'museum': 0.009210499665809248,
  'public': 0.18328843699997974},
 {'year': '2014',
  'academic': 0.3724711371014555,
  'bpo': 0.12753961258142885,
  'government': 0.32968202438028077,
  'hq': 0.004573990067293015,
  'museum': 0.022504461118397007,
  'public': 0.14243867305914476},
 {'year': '2015',
  'academic': 0.2953954468369392,
  'bpo': 0.13885091731332547,
  'government': 0.40935813762269385,
  'hq': 0.0003545917056374942,
  'museum': 0.028048717816948454,
  'public': 0.12637340048306697},
 {'year': '2016',
  'academic': 0.28055290468805916,
  'bpo': 0.13489601972245419,
  'government': 0.3737524354845123,
  'hq': 0.0007256749771362679,
  'museum': 0.03599546701658118,
  'public': 0.16759115670603206},
 {'year': '2017',
  'academic': 0.18161726231205794,
  'bpo': 0.3360398698813344,
  'government': 0.3109565331937985,
  'hq': 2.927304062732126e-05,
  'museum': 0.00966376253709443,
  'public': 0.15711938643706846},
 {'year': '2018',
  'academic': 0.14946256568395494,
  'bpo': 0.5573898326111422,
  'government': 0.20873836592793446,
  'hq': 3.839871452918745e-05,
  'museum': 0.008326613558290726,
  'public': 0.07489816956281586},
 {'year': '2019',
  'academic': 0.08560855569008764,
  'bpo': 0.766991334388469,
  'government': 0.09526800583492774,
  'hq': 1.8595732899157406e-05,
  'museum': 0.0070601799240467625,
  'public': 0.04346442636296391},
 {'year': '2020',
  'academic': 0.025492055671880773,
  'bpo': 0.9373321837664738,
  'government': 0.025617686907254588,
  'hq': 1.724350289444513e-05,
  'museum': 0.0008449316418278113,
  'public': 0.010274664367532948},
 {'year': '2021',
  'academic': 0.024264683188790468,
  'bpo': 0.9374113967675894,
  'government': 0.020804913428597884,
  'hq': 1.8517946976945155e-05,
  'museum': 0.00019855354258613417,
  'public': 0.016477886484985032},
 {'year': '2022',
  'academic': 0.05191650204778991,
  'bpo': 0.8946962335326303,
  'government': 0.023796277326576912,
  'hq': 6.5784898418719e-05,
  'museum': 0.0010751131970144934,
  'public': 0.02798207643453369},
 {'year': '2023',
  'academic': 0.07779043707979116,
  'bpo': 0.8744074820648295,
  'government': 0.020250153372312854,
  'hq': 7.512113282668303e-05,
  'museum': 0.0013521803908802944,
  'public': 0.02522567640320016}]

In [209]:


yearly_counts_df = pd.DataFrame.from_records(yearly_counts) 
print(yearly_counts_df)

    year  academic     bpo  government     hq  museum  public total_books
0   2001         3       0           0      0       0       0
1   2002       421       0           4      0       1       4
2   2006     37248       0           0  25931       1       0
3   2007    108590       0         402  45116     899    3963
4   2008    164714       0       25163  30925    1510   35165
5   2009    135579      11       42811  22681    1414   38515
6   2010    133532    5714       25634  59152     784   36441
7   2011     98462  130463       30265     25     465   44831
8   2012     91679  188778       35093    685     282   39508
9   2013     89153   20919       48684     64    1819   36198
10  2014     69299   23729       61338    851    4187   26501
11  2015     57481   27019       79657     69    5458   24591
12  2016     56445   27140       75196    146    7242   33718
13  2017     49634   91836       84981      8    2641   42939
14  2018     50601  188706       70669     13    2819   25357
15  2019     41433  371210       46108      9    3417   21036
16  2020     20697  761020       20799     14     686    8342
17  2021     23586  911192       20223     18     193   16017
18  2022     55243  952023       25321     70    1144   29775
19  2023     31066  349199        8087     30     540   10074

In [210]:
yearly_percents_df = pd.DataFrame.from_records(yearly_percents)

In [211]:
yearly_percents_df

    year  academic       bpo  government        hq    museum    public
0   2001  1.000000  0.000000    0.000000  0.000000  0.000000  0.000000
1   2002  0.979070  0.000000    0.009302  0.000000  0.002326  0.009302
2   2006  0.589554  0.000000    0.000000  0.410431  0.000016  0.000000
3   2007  0.683085  0.000000    0.002529  0.283802  0.005655  0.024929
4   2008  0.639723  0.000000    0.097729  0.120108  0.005865  0.136575
5   2009  0.561841  0.000046    0.177409  0.093990  0.005860  0.159607
6   2010  0.510496  0.021845    0.097999  0.226140  0.002997  0.139315
7   2011  0.319543  0.423397    0.098220  0.000081  0.001509  0.145492
8   2012  0.250427  0.515660    0.095859  0.001871  0.000770  0.107919
9   2013  0.451426  0.105923    0.246511  0.000324  0.009210  0.183288
10  2014  0.372471  0.127540    0.329682  0.004574  0.022504  0.142439
11  2015  0.295395  0.138851    0.409358  0.000355  0.028049  0.126373
12  2016  0.280553  0.134896    0.373752  0.000726  0.035995  0.167591
13  2017  0.181617  0.336040    0.310957  0.000029  0.009664  0.157119
14  2018  0.149463  0.557390    0.208738  0.000038  0.008327  0.074898
15  2019  0.085609  0.766991    0.095268  0.000019  0.007060  0.043464
16  2020  0.025492  0.937332    0.025618  0.000017  0.000845  0.010275
17  2021  0.024265  0.937411    0.020805  0.000019  0.000199  0.016478
18  2022  0.051917  0.894696    0.023796  0.000066  0.001075  0.027982
19  2023  0.077790  0.874407    0.020250  0.000075  0.001352  0.025226

In [212]:
yearly_counts_df

    year  academic     bpo  government     hq  museum  public total_books
0   2001         3       0           0      0       0       0
1   2002       421       0           4      0       1       4
2   2006     37248       0           0  25931       1       0
3   2007    108590       0         402  45116     899    3963
4   2008    164714       0       25163  30925    1510   35165
5   2009    135579      11       42811  22681    1414   38515
6   2010    133532    5714       25634  59152     784   36441
7   2011     98462  130463       30265     25     465   44831
8   2012     91679  188778       35093    685     282   39508
9   2013     89153   20919       48684     64    1819   36198
10  2014     69299   23729       61338    851    4187   26501
11  2015     57481   27019       79657     69    5458   24591
12  2016     56445   27140       75196    146    7242   33718
13  2017     49634   91836       84981      8    2641   42939
14  2018     50601  188706       70669     13    2819   25357
15  2019     41433  371210       46108      9    3417   21036
16  2020     20697  761020       20799     14     686    8342
17  2021     23586  911192       20223     18     193   16017
18  2022     55243  952023       25321     70    1144   29775
19  2023     31066  349199        8087     30     540   10074